{% extends "base.html" %}
{% block title %}My amazing blog{% endblock %}
{% block content %}
<div class=main><h3><a href=add>Подать заявку на выступление</a></h3></div>
{% for vistuplenia_item in vistuplenia %}
 {% include 'vistuplenia/vistuplenia_item.html' %}
{% endfor %}
{% endblock %}
