﻿<html>
<head>
<title>{% block title %}DT19-Project YAGUAR{% endblock%}</title>
<link href="style.css" rel="stylesheet" media="all" />
</head>
<body>
<!--сайт Сергея Ткаченко-->
	<div class=main>
		<div class=header>
			<p align=center><a href=http://dt19.ru><img src="logo.png" alt="DT19"></a></p>
		</div>
		<div>
		<ul class=menu align=center>
		<li><a href=index.html class=selected>Главная</a></li>
		<li><a href=speakers/index.html>Спикеры</a></li>
		<li><a href=vistuplenia/index.html>Выступления</a></li>
		<li><a href=organizators/index.html>Организаторы</a></li>
		<li><a href=partners/index.html>Партнеры</a></li>
		<li><a href=kontacts/index.html>Контакты</a></li>
		<li><a href=news/index.html>Новости</a></li>
		</ul>
		</div>
		<div class=telo>
	{% block content %}{% endblock %}
		</div>
		<div class=footer>
			<h5 align=center>Copyrights by Tkachenko.S</h5>
		</div>
	</div>
</body>
</html>
