﻿<html>
<head>
<title>{% block title %}DT19-Project YAGUAR{% endblock%}</title>
{% load staticfiles %}

{# Тут комментарий мой расположен #}
<link href="{% static 'style.css' %}" rel="stylesheet" media="all" />
</head>
<body>
<!--сайт Сергея Ткаченко-->
<p>Походу что-то пошло не так(((!!!</p>
</body>
</html>
