﻿<html>
<head>
<title>{% block title %}DT19-Project YAGUAR{% endblock%}</title>
{% load staticfiles %}
<link href="{% static 'style.css' %}" rel="stylesheet" media="all" />
</head>
<body>
<!--сайт Сергея Ткаченко-->
	<div class=main>
		<div class=header>
			<p align=center><a href=http://dt19.ru><img src="{% static 'logo.png' %}" alt="DT19"></a></p>
		</div>
		<div class=telo>
	{% block content %}{% endblock %}
		</div>
		<div class=footer>
			<h5 align=center>Copyrights by Tkachenko.S</h5>
		</div>
	</div>
</body>
</html>
