﻿<html>
<head>
<title>{% block title %}DT19-Project YAGUAR{% endblock%}</title>
{% load staticfiles %}

{# Тут комментарий мой расположен #}
<link href="{% static 'style.css' %}" rel="stylesheet" media="all" />
</head>
<body>
<!--сайт Сергея Ткаченко-->
<p>Сайт находится на стадии разработки!!!</p>
	<div class=main>
		<div class=header>
			<p align=center><a href=http://dt19.ru><img src="{% static 'logo.png' %}" alt="DT19"></a></p>
		</div>
		<div>
		<ul class=menu align=center>
		<li><a href='/'{% if request.path == '/' %}class=selected{% endif %}>Главная</a></li>
		<li><a href='/speakers/'{% if request.path == '/speakers/' %}class=selected{% endif %}>Спикеры</a></li>
		<li><a href='/vistuplenia/'{% if request.path == '/vistuplenia/' %}class=selected{% endif %}>Выступления</a></li>
		<li><a href='/organizators/'{% if request.path == '/organizators/' %}class=selected{% endif %}>Организаторы</a></li>
		<li><a href='/partners/'{% if request.path == 'partners/' %}class=selected{% endif %}>Партнеры</a></li>
		<li><a href='/kontacts/'{% if request.path == '/kontacts/' %}class=selected{% endif %}>Контакты</a></li>
		<li><a href='/news/'{% if request.path == '/news/' %}class=selected{% endif %}>Новости</a></li>
        <li><a href='/test/'{% if request.path == '/test/' %}class=selected{% endif %}>FLAT</a></li>
		</ul>
		</div>
		<div class=telo>
	{% block content %}{% endblock %}
		</div>
		<div class=footer>
			<h5 align=center>Copyrights by Tkachenko.S</h5>
		</div>
	</div>
</body>
</html>
