{% extends "base.html" %}
{% block title %}My amazing blog{% endblock %}
{% block content %}
<h1><a href='../kontacts/filter1'>Фильтр по форкерам</a></h1>
<h1><a href='../kontacts/filter2'>Фильтр по форкерам</a></h1>
<h1><a href='../kontacts/filter3'>Фильтр по форкерам</a></h1>
<h1><a href='../kontacts/filter4'>Фильтр по форкерам</a></h1>
<h1><a href='../kontacts/filter5'>Фильтр по форкерам</a></h1>
<h1><a href='../kontacts/pagin'>Отобразить с пагинацией</a></h1>
{% for kontacts_item in kontacts %}
 {% include 'kontacts/kontacts_item.html' %}
{% endfor %}
{% endblock %}
