



{% extends "base.html" %}
{% block title %}My amazing blog{% endblock %}
{% block content %}
{% for kontact in kontacts %}
    {# Each "kontacts" is a kontacts model object. #}
    {{ kontact.name }}<br />
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if kontacts.has_previous %}
            <a href="?page={{ kontacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ kontacts.number }} of {{ kontacts.paginator.num_pages }}.
        </span>

        {% if kontacts.has_next %}
            <a href="?page={{ kontacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}