{% extends "base.html" %}
{% block title %}My amazing blog{% endblock %}
{% block content %}
<div class=main>
<a href='add'>add new</a>
</div>
{% for partners_item in partners %}
 {% include 'partners/partners_item.html' %}
{% endfor %}
{% endblock %}
