<div class=main><img src="{{ partners_item.image.url }}" alt="DT19" align=left height=120px>
 <p align=left class=main {% if partners_item.bool %}style="color: red;"{% endif %}>{{ partners_item.description }}</p>
 <a href="{% url 'change' partners_item.id %}">{{ partners_item.id }}Изменить</a>
 <a href="{% url 'delete' partners_item.id %}">{{ partners_item.id }}Удалить</a>
 <br><br><br><br><br>
</div>